{% extends 'manager_app/base.html' %}
{% block content %}
    <a href="{% url 'update-staff' staff.id %}">Update {{ staff.name }}'s details</a> <br>
    <a href="{% url 'delete-staff' staff.id %}">Delete {{ staff.name }}'s details from database?</a>
    <table border="3" bordercolor = "cyan" width="800">
        <caption>{{ staff }}'s data</caption>
        <tr>
            <th>Name</th>
            <th>lecturing course</th>
            <th>number of courses taken</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Job Type</th>
            <th>Date Employed</th>
        </tr>

        <tr>
            <td>{{ staff.name }}</td>
            <td>{{ staff.lecture_course }}</td>
            <td>{{ staff.course_length }}</td>
            <td>{{ staff.email }}</td>
            <td>{{ staff.phone_number }}</td>
            <td>{{ staff.job_type }}</td>
            <td>{{ staff.date_employed|date:"F d Y" }}</td>
        </tr>
    </table>
{% endblock content %}